.aside {
  width: 20%;
  float: right;
  margin: 1em 3.5em 2em 0;
}

.aside__p{
font-size: $medium;
}

.aside__tags {
  padding: 1em 0 1em 0;
}

.aside__list {
  padding: .5em;
  color: white;
  background-color: steelblue;
}

.aside__img {
  width: 100%;
}
